.favorites {
    box-sizing: border-box;
    border: 3px solid #121212;
    padding: 30px 20px;
    color: white;
    background-color: #121212;
    border-radius: 3%;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
    margin-bottom: 24px;
    outline-color: black;
}

.favorites__list {
    margin-bottom: 24px;
}
 
.favorites__list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.favorites__save {
    border: none;
    background-color: #121212;
    padding: 10px 15px;
    color: #F5C518;
    font-size: 14px;
    transition: all 0.2s linear;
}

.favorites__save:hover:not(:disabled) {
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #F5C518;
    color: #121212;
}

.favorites__save:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.favoritesLink {
    border: none;
    background-color: #121212;
    padding: 10px 15px;
    color: #F5C518;
    font-size: 14px;
    transition: all 0.2s linear;
    text-decoration: none;
    width: auto;
}

.favoritesLink:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #F5C518;
    color: #121212;
}

.favorites__delete {
    background-color: #121212;
    color: #F5C518;
    border: none;
    width: 25px;
    height: 25px;
}

.favorites__delete:hover {
    opacity: 0.9;
    cursor: pointer;
    background-color: #F5C518;
    color: #121212;
    border-radius: 50%;
}

.favorites__title {
    font-family: 'Luckiest Guy', cursive;
    color: #F5C518;
    font-size: 20px;
    margin-bottom: 20px;
}


